h1,h2{
    font-family: Poppins;
}
/* p{
    font-family: Roboto;
} */
html { height: 100%; }
body {
    min-height:100%; 
    padding-bottom:[footer-height]
    
}
#showcase h1{
    font-size:50px;
    margin-bottom: 20px;
}

#showcase img{
    width: 90%;
    margin-left:60px
}
.py-2{
  color: black !important;
}
.py-2:hover{
  color:red !important;
}
.jumbotron {
    color: aliceblue;
    background-image: url("/img/");
    background-color: black;
    margin-bottom: 0;
    min-height: 50%;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    background-size: cover;
}

.carousel-item {
    height: 400px;
    background-color: black !important;
    
  }
  
  .item img {
      position: absolute;
      top: 0;
      left: 0;
      min-height: 300px;
  }


  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    height: 50px;
    width: 50px;
    outline: none;
    background-size: 100%, 100%;
    border-radius: 50%;
    border: none;
    background-image: none;
  }
  
  .carousel-control-next-icon:after
  {
    content: '>';
    font-size: 55px;
    color: red;
  }
  
  .carousel-control-prev-icon:after {
    content: '<';
    font-size: 55px;
    color: red;
  } 
  

  .inner{
    overflow: hidden;
  }

  .inner img{
    transition:all 1.5s ease;
  }
  .inner:hover img{
    transform: scale(1.5)
  }
  .fa {
    padding: 8px;
    font-size: 30px;
    width: 30px;
    text-decoration: none;
    text-align: center;
    margin: 5px 2px;
    border-radius: 50%;
    background-color: white;
  }
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  .fa-linkedin {
    background: #007bb5;
    color: white;
  }
  .fa-instagram {
    background: #125688;
    color: white;
  }
  a.py-2 :hover{
    color: red !important;

  }
  /* .footer { 
    position: absolute; 
    left: 0 ; right: 0; bottom: 0; 
    height:[footer-height]; 
} */



  @media screen and (max-width: 600px) {
    nav.site-header {float: none;}
  }
  